<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: base ('Tópico', ~{::body}, _, _, _)}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="container mt-4">
		<div class="alert alert-success alert-dismissible fade show" role="alert"
			th:if="${!#strings.isEmpty(message)}">
			<span th:text=${message}></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		
		<div class="card mt-3 border border-1">
			<h4 class="card-header text-center">Todas as Questões [[${topic != null} ? 'de ' + ${topic.name} : '']]</h4>
			<div class="card-body">
				<table id="table" class="table table-sm cell-border compact order-column table-hover compact stripe">
					<thead class="thead-dark text-center">
						<tr>
							<th>ID</th>
							<th>Pergunta</th>
							<th>Tipo</th>
							<th>Tópico</th>
							<th>Data de Envio</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="question : ${questions}" th:data-id="${question.id}">
							<td class="align-middle fw-bold text-center" th:text="${question.id}"></td>
							<td class="align-middle"><p class="content truncate" th:text="${question.description}"></p></td>
							<td class="align-middle text-center" th:text="${question.type.displayName}"></td>
							<td class="align-middle" th:text="${question.topic != null? question.topic.name : ''}"></td>
							<td class="align-middle text-center" th:text="${#dates.format(question.creationDate, 'dd/MM/yyyy')}"></td>
							<td class="align-middle fw-bold text-center" th:text="${question.status.displayName}"></td>
							<td class="align-middle">
								<div class="d-flex justify-content-center">
									<form class="me-3" action="#" th:action="@{/admin/questions/{id}/delete(id=${question.id})}" method="post">
										<button type="submit" class="btn btn-sm btn-outline-danger">
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</button>
									</form>		
									<a class="btn btn-outline-dark btn-sm" href="#"
										th:href="@{/admin/questions/{id}(id=${question.id})}">
										<i class="bi bi-search"></i>
									</a>						
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$('#table').DataTable({
			language : {
				url : '//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json'
			}
		});

		$('.content').each(function() {
			$(this).html($(this).text());
		});
	</script>
</body>
</html>