<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" th:replace="~{fragments/layout :: base('Teste', ~{::body}, ~{::link}, _, _)}">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/alternatives.css}">
</head>

<body>
	<div class="container">
		<div id="test-result-container" class="card mt-3 border border-1 border-secondary" style="display: none;">
			<div class="card-body text-center">
				<h4 class="card-title">Resultado do Teste</h4>

				<h1 id="ponctuation" class="text-success fw-bolder">3/3</h1>

				<p class="h5">
					<span>Tempo gasto = </span><b id="elapsedTime">10:56</b>
				</p>

				<form action="#" method="post" th:action="@{/test}">
					<button type="submit" class="btn btn-secondary mt-3"
						th:text="|Finalizar e voltar para ${test.subject.name}|">Finalizar e voltar para Banco de
						Dados</button>
				</form>
			</div>
		</div>

		<div class="card mt-3 shadow">
			<h4 class="card-header text-center fw-bolder" th:text="${test.name}">Name</h4>
			<div class="timer-container d-flex justify-content-end align-items-baseline me-3">
				<i class="bi bi-alarm-fill text-primary" style="font-size: 1.5rem;"></i>
				<h4 class="timer fw-bold ms-1"></h4>
			</div>

			<div class="card-body">
				<div class="question" th:each="question : ${test.questions}" th:data-id="${question.id}">
					<span class="fw-bold" th:id="${questionStat.count}" th:text="|${questionStat.count}.|"></span>

					<div class="question-editor mb-3" th:utext="${question.description}"></div>

					<div class="alternative mb-3" th:each="alternative : ${question.alternatives}">
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" th:value="${alternative.id}"
								th:name="${question.id}" required>
							<label class="form-check-label">
								<div class="alternativeEditor" th:utext="${alternative.description}"></div>
							</label>
						</div>
					</div>

					<div th:unless="${questionStat.last}" class="border border-bottom border-dark border-1 my-5 m-3"></div>
				</div>
			</div>
		</div>

		<div class="d-grid gap-2 col-6 mx-auto mt-4">
			<button id="finishTest" class="btn btn-primary fw-bold">Conferir respostas</button>
		</div>

		<div class="text-center">
			<div id="spinner" class="spinner-border text-danger" style="width: 6rem; height: 6rem; display: none;"
				role="status">
				<span class="visually-hidden">Aguarde...</span>
			</div>
		</div>
	</div>

	<script th:src="@{/js/quill-utils.js}"></script>
	<script th:src="@{/js/test.js}"></script>
	<script th:inline="javascript">
		const startTime = /*[[${test.startTime}]]*/0;
		
		let timer = setInterval(function() {
			const elapsedTime = Date.now() - startTime;
			$('.timer').text(new Date(elapsedTime).toISOString().substr(11, 8));
		}, 1000);
	</script>
</body>

</html>