<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base(${topic.name}, ~{::body}, ~{::link}, _, ~{::style})}">

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" th:href="@{/css/nav-breadcrumb.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/alternatives.css}">

	<style type="text/css">
		.bg-initial-quiz {
			background: url('/images/quiz-image.png') no-repeat center center;
			width: 100%;
			min-height: 190px;
		}
	</style>
</head>

<body>
	<div class="row">
		<div class="bg-dark text-white">
			<div class="card-body">
				<div class="col-10 offset-1 mb-3">
					<nav class="nav-breadcrumb dark" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#" th:href="@{/dashboard}">ADS</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#" th:href="@{/subjects/{id}(id=${topic.subject.id})}"
									th:text="${topic.subject.name}">Fórum</a>
							</li>
						</ol>
					</nav>

					<h2 class="card-title text-center fw-bolder" th:text="${topic.name}">Topic Name</h2>
					<p th:text="${topic.description}"></p>

					<div class="d-flex justify-content-end mt-3">
						<button id="open-sidebar" class="btn btn-outline-light me-3" type="button">
							<i class="bi bi-pencil-square" style="font-size: 1.2rem;"></i>
						</button>

						<div class="btn-group rounded-start" role="group" aria-label="Favorite toggle button">
							<input type="checkbox" class="btn-check" id="fav-button" autocomplete="off"
								th:checked="${topic.user.favorite}">
							<label class="btn btn-outline-primary p-2" for="fav-button">
								<i class="bi bi-star-fill"></i>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="annotationSideNav" class="sidenav">
		<a id="close-sidebar" href="javascript:void(0)" class="closebtn">&times;</a>

		<h5 class="fw-bold text-white text-center mb-3">SUAS ANOTAÇÕES</h5>

		<div class="card shadow m-3">
			<div class="card-body">
				<div id="annotationEditor" th:utext="${topic.user.annotation}"></div>
			</div>
		</div>

		<small class="d-flex text-muted text-center m-3"><small class="text-danger">*</small>Suas anotações
			são salvas automaticamente a cada um 1 minuto e também no exato momento em que está aba é fechada.</small>
	</div>

	<div class="container">
		<div class="alert alert-success alert-dismissible fade show my-5" role="alert"
			th:if="${!#strings.isEmpty(successMessage)}">
			<span th:text=${successMessage}></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="accordion my-5" id="uploadQuestion">
			<div class="accordion-item">
				<h6 class="accordion-header" id="headingTwo">
					<button id="contributeAccordionButton" class="accordion-button collapsed bg-danger text-white fw-bold" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo" style="height: 50px">
						<h6>Deseja compartilhar seu conhecimento ? Contribua agora!</h6>
					</button>
				</h6>
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
					data-bs-parent="#uploadQuestion">
					<div class="accordion-body">

						<div class="card border border-1 border-secondary shadow">
							<div class="card-body">

								<form id="newQuestionForm" action="#" method="post"
									th:action="@{/topic/{t}/question(t=${topic.id})}" th:object="${question}">
									<div class="mb-3">
										<label for="description" class="h5 form-label fw-bolder">Pergunta</label>

										<div id="newQuestionEditor"></div>
										<input type="hidden" id="description" th:field="*{description}">
									</div>

									<div id="alternativesContainer"
										class="mb-3 p-3 border border-1 border-secondary rounded">
										<label class="h5 form-label fw-bolder ms-5">Alternativas</label>

										<div id="alternatives">
											<div class="new-alternative mb-3 d-flex justify-content-start align-items-center"
												th:each="alternative, itemStat : *{alternatives}">
												<span class="text-muted me-2"
													th:text="${itemStat.index + 1} + '.'">1.</span>

												<div class="container">
													<textarea class="form-control me-5" rows="1"
														th:field="*{alternatives[__${itemStat.index}__].description}"
														placeholder="Alternativa" required>Alternativa 1</textarea>
													<input type="text" class="form-control"
														th:field="*{alternatives[__${itemStat.index}__].feedback.title}"
														placeholder="Feedback da alternativa" required>
												</div>
												<div class="form-check me-3">
													<input type="checkbox"
														class="is-correct-alternative form-check-input"
														th:field="*{alternatives[__${itemStat.index}__].feedback.correct}">
												</div>
												<button type="button"
													class="remove-alternative btn btn-outline-danger btn-sm">
													<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
												</button>
											</div>
										</div>

										<hr>

										<div class="d-grid gap-2 col-6 mx-auto">
											<button type="button" id="addAlternative" class="btn btn-secondary">
												Adicionar Alternativa <i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>

									<div class="mb-3">
										<label for="type" class="h5 form-label fw-bold">Tipo de Questão
											(Dificuldade)</label>
										<select class="form-select" aria-describedby="typeHelp" id="type"
											th:field="*{type}">
											<option
												th:each="type : ${T(com.gutotech.fatecando.model.QuestionType).values()}"
												th:value="${type}" th:text="${type.displayName}"></option>
										</select>
										<div id="typeHelp" class="form-text">
											O tipo da questão está relacionado com a dificuldade dela. <br> Por exemplo,
											ao escolher
											"Simulado" a questão só aparecerá em simulados que contém este tópico.
										</div>
									</div>

									<button type="submit" class="btn btn-warning btn-lg form-control mt-5 fw-bold">
										Enviar <i class="fa fa-cloud-upload"></i>
									</button>
								</form>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<h3>Conteúdo</h3>
		<div id="contentCard" class="card my-3 shadow">
			<div class="card-body" id="contentEditor" th:utext="${topic.bodyHtml}"></div>

			<div class="mt-2 mb-3 mx-3">
				<span class="text-muted">Por</span>
				<a class="text-decoration-none link-dark" target="_blank" href="#"
					th:href="@{/users/{id}(id=${topic.createdBy.id})}" th:text="${topic.createdBy.fullName}"></a>
			</div>

			<div class="d-flex justify-content-center">
				<button id="finishButton" class="btn btn-outline-success"
					th:classappend="${topic.user.finished} ? 'active'">
					<i class="fa fa-check"></i>
					<span th:text="${topic.user.finished} ? 'Concluído' : 'Marcar como concluído'">Marcar como
						concluído</span>
				</button>
			</div>
			<hr>
			<div class="review-container d-flex justify-content-center">
				<div class="text-center">
					<h5 class="text-muted">Avalie este tópico</h5>
					<div id="review-stars-container" style="font-size: 32px;"></div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="review-modal" tabindex="-1" aria-labelledby="reviewModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="reviewModalLabel">Avaliação - [[${topic.name}]]</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<small class="d-flex text-muted mb-3">Sua avaliação é fundamental para conseguirmos
									melhorar e atualizar o conteúdo.
									Atualizamos os tópicos frequentemente com base nas críticas e/ou sugestões dos
									estudantes.</small>
								<div class="mb-3 row">
									<label for="review-content" class="col-sm-2 col-form-label">Comentário</label>
									<div class="col-sm-10">
										<textarea class="form-control" id="review-content" rows="6"
											placeholder="Deixe sua observação..." maxlength="500"
											th:text="${topic.user.review?.content}"></textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" id="save-review-button" class="btn btn-danger">Salvar <i
										class="bi bi-save2"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Quiz -->
		<div id="quiz-container" class="card mt-5 bg-danger bg-initial-quiz">
			<div class="card-body">
				<h4 class="card-title text-light" th:text="'Quiz - ' + ${topic.name}">Quiz</h4>

				<div id="quizResult" class="p-3 text-center text-danger bg-white rounded" style="display: none;">
					<span class="h4">Resultado do Quiz</span>
					<br>
				</div>

				<div id="questionContainer" class="p-2 bg-white rounded" style="display: none;">
					<span id="questionIndex" class="fw-bold">- Question 1 de 3</span>
					<hr>

					<div id="question">The question is...</div>
					<br>

					<!-- Answers -->
					<div class="alternative form-check mb-3">
						<input class="form-check-input" type="radio" name="alternativeRadio" id="alternativeRadio1">

						<label class="form-check-label" for="alternativeRadio1">Alternativa 1</label>
					</div>

					<div class="alternative form-check mb-3">
						<input class="form-check-input" type="radio" name="alternativeRadio" id="alternativeRadio2">
						<label class="form-check-label" for="alternativeRadio2"> Alternativa 2</label>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col">
						<button id="finishQuiz" type="button" class="btn btn-secondary btn-lg form-control"
							style="display: none;">Finalizar</button>
					</div>

					<div class="col">
						<button id="answerQuestion" type="button" class="btn btn-outline-light btn-lg form-control"
							style="display: none;">Responder</button>
					</div>

					<div class="col">
						<button id="nextQuestion" type="button" class="btn btn-outline-light btn-lg form-control"
							style="display: none;" onclick="nextQuestion()">Próxima Pergunta</button>
					</div>
				</div>
			</div>
		</div>
		<button id="startQuiz" class="btn btn-outline-danger btn-lg form-control shadow">Iniciar Quiz</button>

		<div class="modal fade" id="noQuizQuestionsModal" tabindex="-1" aria-labelledby="noQuestionsModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="noQuestionsModalLabel">Nenhuma Questão</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Este tópico ainda não possui nenhuma questão que possa ser utilizada para Quiz.</p>
						<p>Colabore agora mesmo com a comunidade Fatecando e submeta uma questão!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Talvez depois</button>
						<button type="button" id="submitQuestionModalButton" class="btn btn-primary">Sim, quero contribuir!</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-md-6">
				<th:block th:if="${topic.previous != nul}">
					<small class="d-flex text-muted mb-1 ms-3">Anterior</small>
					<a class="btn btn-outline-dark" href="#" th:href="@{/topic/{id}(id=${topic.previous.id})}">
						<i class="bi bi-caret-left-fill"></i> [[${topic.previous.name}]]
					</a>
				</th:block>
			</div>
			<div class="col-md-6 text-end">
				<th:block th:if="${topic.next != nul}">
					<small class="d-flex justify-content-end text-muted mb-1 me-3">Próximo</small>
					<a class="btn btn-outline-dark" href="#" th:href="@{/topic/{id}(id=${topic.next.id})}">
						[[${topic.next.name}]] <i class="bi bi-caret-right-fill"></i>
					</a>
				</th:block>
			</div>
		</div>
	</div>

	<script th:src="@{/js/quill-utils.js}"></script>
	<script th:src="@{/js/rating.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		$('#review-stars-container').rating({
			value: /*[[${topic.user.review?.stars ?: 0}]]*/0,
			click: function (event) {
				$('#review-modal').modal('show');
			}
		});

		$('#save-review-button').click(function () {
			let stars = $("#review-stars-container .fa-star").length;
			let content = $("#review-content").val();

			$.ajax({
				method: 'POST',
				url: window.location.href + '/review',
				data: JSON.stringify({stars: stars, content: content}),
				contentType: "application/json; charset=utf-8"
			}).done(function () {
				$('#review-modal').modal('hide');
			}).fail(function (jqXHR, textStatus) {
				alert('Request failed: ' + textStatus);
			});
		});

		new Quill('#contentEditor', EditorOptions.READ_ONLY);

		const questions = /*[[${questions}]]*/null;
	</script>

	<script th:src="@{/js/annotations.js}"></script>
	<script th:src="@{/js/favorite-and-completed-buttons.js}"></script>
	<script th:src="@{/js/quiz.js}"></script>
	<script th:src="@{/js/question.form.js}"></script>
</body>

</html>