<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base('Disciplinas', ~{::body})}">
<body>
	<div class="mt-3">
		<div class="row justify-content-md-center">
			<div class="col-md-8">
				<label for="inputFilter">Pesquise por</label>
				<input id="inputFilter" class="form-control" type="text"
					placeholder="Disciplina, Assunto, Palavra-chave">
			</div>
			<div class="col-6 col-md-4">
				<label for="semesterSelect">Semestre</label>
				<select id="semesterSelect" class="form-select">
					<option value="0">Todos</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
		</div>
		<hr>
		<!-- Discipline cards -->
		<div id="disciplinesContainer"
			class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col" th:each="discipline : ${disciplines}"
				th:data-semester="${discipline.semestre}">
				<div class="card h-100 shadow-lg"
					th:onclick="'go(\'' + ${discipline.id} + '\');'">
					<img src="" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title" th:text="${discipline.name}">Estrutura
							de Dados</h5>
						<p class="card-text text-truncate"
							th:text="${discipline.description}">This is a wider card with
							supporting text below as a natural lead-in to additional content.
							This content is a little bit longer.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last seen 3 mins ago</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		let disciplines = /*[[${disciplines}]]*/ null;
		
		$('#inputFilter').keyup(function() {
		    let filter = $(this).val().toUpperCase();
			
		    let selectedSemester = parseInt($('#semesterSelect').val());
		    
		    let disciplinesFilteredBySemester = [];
		    
		    if (selectedSemester != 0) {
		    	let selector = 'div[data-semester="' + selectedSemester  + '"]';
		    	
		    	disciplinesFilteredBySemester = $('#disciplinesContainer').find(selector);
		    } else {
		    	disciplinesFilteredBySemester = $('#disciplinesContainer').children();
		    }
		    
		    disciplinesFilteredBySemester.each(function () {
		    	let disciplineContainer = $(this);
		    	let semester = disciplineContainer.data('semester');
		    	let name = disciplineContainer.find('.card-title').first().text();
		    	
		    	for (let i = 0; i < disciplines.length; i++) {
					let discipline = disciplines[i];
		    		if (discipline.name === name && (
		    				discipline.name.toUpperCase().indexOf(filter) > -1 ||
		    				discipline.code.toUpperCase().indexOf(filter) > -1 ||
		    				discipline.description.toUpperCase().indexOf(filter) > -1 ||
		    				discipline.objetive.toUpperCase().indexOf(filter) > -1
		    		)) {
		    			disciplineContainer.show();
		    			disciplineContainer.removeAttr('style');
		    			break;
		    		} else {
		    			disciplineContainer.hide();
		    		}
		    	}
		    });
		});

		$('#semesterSelect').change(function() {
		    let selectedSemester = $(this).val();
		    
		    $('#disciplinesContainer').children().each(function () {
		    	let semester = $(this).data('semester');
		    	
		    	if (selectedSemester == 0 || selectedSemester == semester) {
		    		$(this).show();	
		    		$(this).removeAttr('style');
		    	} else {
		    		$(this).hide();
		    	}
		    });
		    
		    $('#inputFilter').trigger('keyup');
		});

		function go(disciplineId) {
		    location.href = '/disciplines/' + disciplineId;
		}
	</script>
</body>
</html>