<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base(${forumTopic.title}, ~{::body}, _, _, _)}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="card shadow my-4">
			<div class="card-body">
				<div class="d-flex mb-3" style="font-size: 14px;">
					<a href="#" class="link-danger text-decoration-none fw-bold"
						th:href="@{/disciplines/{id}(id=${discipline.id})}" th:text="${discipline.name}">Estrutura de Dados</a>
				</div>

				<h3 class="card-title" th:text="${forumTopic.title}">Título</h3>

				<span class="card-text">
					<span class="text-muted">Criado</span>
					<time class="timeago" th:datetime="${#dates.formatISO(forumTopic.creationDate)}"></time>
				</span>
				<hr>
				
				<div id="topic-body-editor" th:utext="${forumTopic.bodyHtml}"></div>
				
				<div class="tags mt-2">
					<span class="badge rounded-pill bg-dark me-2" th:each="tag : ${forumTopic.tags}" th:text="${tag.name}"></span>
				</div>
			</div>
			<div class="card-footer">
				<span class="text-muted">Criado por</span>
				<span th:text="'' + ${forumTopic.user.fullName}">Gustavo Alves</span>

				<span class="text-muted">em</span>
				<span th:text="${#dates.format(forumTopic.creationDate, 'dd/MM/yyyy HH:mm')}"></span>
			</div>
		</div>

		<div class="card border border-secondary mb-3">
			<div class="card-body">
				<h4 class="card-title"
					th:text="${#lists.size(comments) > 0 ? #lists.size(comments) + ' Resposta(s)' : 'Seja o primeiro a responder!'}">5
					Respostas</h4>

				<div class="card shadow mb-3" th:each="comment : ${comments}">
					<div class="card-body">
						<div class="comment-body" th:utext="${comment.bodyHtml}"></div>
					</div>
					<div class="card-footer d-flex justify-content-between">
						<div>
							<span class="text-muted">Respondido por</span>
							<span th:text="'' + ${forumTopic.user.fullName}">Gustavo Alves</span>
						</div>

						<time class="timeago" th:datetime="${#dates.formatISO(comment.creationDate)}"></time>
					</div>
				</div>
			</div>
		</div>

		<div class="card border border-danger mb-3">
			<div class="card-body">
				<h4 class="card-title">Sua resposta</h4>
				<form id="comment-form" action="#" method="post"
					th:action="@{/disciplines/{disciplineId}/forum-topics/{topicId}(disciplineId=${discipline.id},topicId=${forumTopic.id})}"
					th:object="${comment}">
					<div class="mb-3">
						<div id="comment-body-editor"></div>
						
						<input type="hidden" th:field="*{bodyHtml}" required></input>
					</div>
					<button type="submit" class="btn btn-danger form-control">Publique sua resposta</button>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/timeago/timeago.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeago/jquery.timeago.pt-br.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		$("time.timeago").timeago();
		
		hljs.configure({
			tabReplace: '    ',
			languages : [ 'java' ]
		});
		hljs.highlightAll();
		
		let topicBodyEditor = new Quill('#topic-body-editor', {
			modules : {
				syntax : true,
				toolbar : false
			},
			readOnly : true,
			theme : 'snow'
		});
		
		// Comments
		$('.comment-body').each(function() {
			new Quill(this, {
				modules : {
					syntax : true,
					toolbar : false
				},
				readOnly: true,
				theme : 'snow'
			});
		});
		
		let commentBodyEditor = new Quill('#comment-body-editor', {
			modules : {
				syntax : true,
				toolbar : [ 
					[ 'bold', 'italic', 'underline' ], // toggled buttons
					[ {	'header' : 1 }, { 'header' : 2 }, { 'header' : 2 } ], // custom button values
					[ { 'color' : [] }, { 'background' : [] } ], // dropdown with defaults from theme
					[ { 'align': ''}, { 'align': 'center' }, { 'align': 'right' }, { 'align': 'justify' } ], 
					[ { 'script' : 'sub' }, { 'script' : 'super' } ], // superscript/subscript
					[ { 'list' : 'ordered' }, { 'list' : 'bullet' } ], 
					[ { 'indent' : '-1' }, { 'indent' : '+1' } ], // outdent/indent
					[ 'blockquote', 'code-block' ],
					[ 'link', 'image', 'video', 'formula' ], 
					[ 'clean' ] // remove formatting button
				],
				history : {
					delay : 2000,
					maxStack : 500,
					userOnly : true
				}
			},
			theme : 'snow'
		});
		
		$('#comment-form').submit(function(event) {
			if (commentBodyEditor.root.innerText.trim() !== '') {
				$('#comment-form #bodyHtml').val(commentBodyEditor.root.innerHTML);
			}
		});
	</script>
</body>
</html>