<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base(${topic.name}, ~{::body}, _, _, ~{::style})}">
<head>
<meta charset="utf-8">

<style type="text/css" th:inline="css">
#finish-btn.active {
	background-color: #198754;
	border-color: #198754
}

.bg-initial-quiz {
	background: url(/*[[@{/images/quiz-image.png}]]*/ "") no-repeat center
		center;
	width: 100%;
	min-height: 190px;
}

.form-check-input {
	width: 2em;
	height: 2em;
}

.form-check-input:checked {
	background-color: green;
	border-color: green;
}
</style>
</head>
<body>
	<div class="row">
		<div class="bg-dark text-white">
			<div class="card-body">
				<div class="col-10 offset-1 mb-3">
					<div class="d-flex mt-2 mb-4" style="font-size: 14px;">
						<a href="#" class="link-danger text-decoration-none fw-bold"  
							th:href="@{/dashboard}">Análise e Desenvolvimento de Sistemas</a>
						<span class="mx-2">></span>
						<a href="#" class="link-danger text-decoration-none fw-bold" 
							th:href="@{/disciplines/{id}(id=${topic.discipline.id})}" 
							th:text="${topic.discipline.name}">Estrutura de Dados</a>
					</div>
				
					<h2 class="card-title text-center fw-bolder" th:text="${topic.name}">Topic Name</h2>
					<p th:text="${topic.description}"></p>
					
					<div class="d-flex justify-content-end mt-3">
						<div class="btn-group rounded-start me-3" role="group" aria-label="Like toggle button">
							<input type="checkbox" class="btn-check" id="fav-button" autocomplete="off"
								th:checked="${topic.user.favorite}">
							<label class="btn btn-outline-primary p-2" for="fav-button">
								<i class="bi bi-star-fill"></i>
							</label>
						</div>
						
						<div class="btn-group rounded-start" role="group" aria-label="Like toggle button">
							<input type="checkbox" class="btn-check" id="likeButton" autocomplete="off"
								th:checked="${topic.user.liked}">
							<label id="likeStatus" class="btn btn-outline-primary p-2" for="likeButton">
								Curtir <i class="fa fa-thumbs-up"></i>
							</label>
						</div>
						<span id="totalLikes"
							class="fw-bolder text-primary border border-1 border-start-0 border-primary p-2 rounded-end"
							th:classappend="${topic.user.liked} ? 'bg-white'" th:text="${topic.likes}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="alert alert-success alert-dismissible fade show my-5" role="alert"
			th:if="${!#strings.isEmpty(successMessage)}">
			<span th:text=${successMessage}></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		
		<div class="accordion my-5" id="uploadQuestion">
			<div class="accordion-item">
				<h6 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed bg-danger text-white fw-bold" type="button" data-bs-toggle="collapse"
						data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="height: 50px">
						<h6>Deseja compartilhar seu conhecimento ? Contribua agora!</h6>
					</button>
				</h6>
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
					data-bs-parent="#uploadQuestion">
					<div class="accordion-body">

						<div class="card border border-1 border-secondary shadow">
							<div class="card-body">
							
								<form id="newQuestionForm" action="#" method="post" th:action="@{/topic/{t}/question(t=${topic.id})}"
									th:object="${question}">
									<div class="mb-3">
										<label for="description" class="h5 form-label fw-bolder">Pergunta</label>
										
										<div id="newQuestionEditor"></div>
										<input type="hidden" id="description" th:field="*{description}">
									</div>

									<div id="alternativesContainer" class="mb-3 p-3 border border-1 border-secondary rounded">
										<label class="h5 form-label fw-bolder ms-5">Alternativas</label>

										<div id="alternatives">
											<div class="new-alternative mb-3 d-flex justify-content-start align-items-center"
												th:each="alternative, itemStat : *{alternatives}">
												<span class="text-muted me-2" th:text="${itemStat.index + 1} + '.'">1.</span>

												<div class="container">
													<textarea class="form-control me-5" rows="1"
														th:field="*{alternatives[__${itemStat.index}__].description}" placeholder="Alternativa" required>Alternativa 1</textarea>
													<input type="text" class="form-control"
														th:field="*{alternatives[__${itemStat.index}__].feedback}" placeholder="Feedback da alternativa">
												</div>
												<div class="form-check me-3">
													<input type="checkbox" class="is-correct-alternative form-check-input"
														th:field="*{alternatives[__${itemStat.index}__].correct}">
												</div>
												<button type="button" class="remove-alternative btn btn-outline-danger btn-sm">
													<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
												</button>
											</div>
										</div>

										<hr>

										<div class="d-grid gap-2 col-6 mx-auto">
											<button type="button" id="addAlternative" class="btn btn-secondary">
												Adicionar Alternativa <i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>

									<div class="mb-3">
										<label for="type" class="h5 form-label fw-bold">Tipo de Questão (Dificuldade)</label>
										<select class="form-select" aria-describedby="typeHelp" id="type" th:field="*{type}">
											<option th:each="type : ${T(com.gutotech.fatecando.model.QuestionType).values()}"
												th:value="${type}" th:text="${type.displayName}"></option>
										</select>
										<div id="typeHelp" class="form-text">
											O tipo da questão está relacionado com a dificuldade dela.
											<br>
											Por exemplo, ao escolher "Simulado" a questão só aparecerá em simulados que contém este tópico.
										</div>
									</div>

									<button type="submit" class="btn btn-warning btn-lg form-control mt-5 fw-bold">
										Enviar <i class="fa fa-cloud-upload"></i>
									</button>
								</form>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		
		<h3>Conteúdo</h3>
		<div id="contentCard" class="card my-3 shadow">
			<div class="card-body" id="contentEditor" th:utext="${topic.htmlContent}"></div>
			
			<div class="d-flex justify-content-end p-3">
				<button id="finishButton" class="btn btn-outline-success"
					th:classappend="${topic.user.finished} ? 'active'">
					<i class="fa fa-check"></i>
					<span th:text="${topic.user.finished} ? 'Concluído' : 'Marcar como concluído'">Marcar como
						concluído</span>
				</button>
			</div>
		</div>
		
		<!-- Quiz -->
		<div id="quiz-container" class="card mt-5 bg-danger bg-initial-quiz">
			<div class="card-body">
				<h4 class="card-title text-light" th:text="'Quiz - ' + ${topic.name}">Quiz</h4>

				<div id="quizResult" class="p-3 text-center text-danger bg-white rounded" style="display: none;">
					<span class="h4">Resultado do Quiz</span>
					<br>
				</div>

				<div id="questionContainer" class="p-2 bg-white rounded" style="display: none;">
					<span id="questionIndex" class="fw-bold">- Question 1 de 3</span>
					<hr>

					<div id="question">The question is...</div>
					<br>

					<!-- Answers -->
					<div class="alternative form-check mb-3">
						<input class="form-check-input" type="radio" name="alternativeRadio" id="alternativeRadio1">

						<label class="form-check-label" for="alternativeRadio1">Alternativa 1</label>
					</div>

					<div class="alternative form-check mb-3">
						<input class="form-check-input" type="radio" name="alternativeRadio" id="alternativeRadio2">
						<label class="form-check-label" for="alternativeRadio2"> Alternativa 2</label>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col">
						<button id="finishQuiz" type="button" class="btn btn-secondary btn-lg form-control"
							style="display: none;">Finalizar</button>
					</div>

					<div class="col">
						<button id="answerQuestion" type="button" class="btn btn-outline-light btn-lg form-control"
							style="display: none;">Responder</button>
					</div>

					<div class="col">
						<button id="nextQuestion" type="button" class="btn btn-outline-light btn-lg form-control"
							style="display: none;" onclick="nextQuestion()">Próxima Pergunta</button>
					</div>
				</div>
			</div>
		</div>
		<button id="startQuiz" class="btn btn-outline-danger btn-lg form-control shadow">Iniciar Quiz</button>

	</div>

	<script type="text/javascript" th:inline="javascript">
		let questions = /*[[${questions}]]*/null;

		hljs.configure({
			tabReplace: '    ',
			languages : [ 'java' ]
		});
		hljs.highlightAll();

		var contentEditor = new Quill('#contentEditor', {
			modules : {
				syntax : true,
				toolbar : []
			},
			theme : 'snow'
		});
		contentEditor.enable(false);
		$('#contentEditor').closest('.ql-toolbar').hide();
		$('#contentCard').find('.ql-toolbar').first().remove();
		
		var questionEditor = new Quill('#question', {
			modules : {
				syntax : true,
				toolbar: []
			},
			theme : 'snow'
		});
		questionEditor.enable(false);
		$('#questionContainer').find('.ql-toolbar').first().remove();
		
		var newQuestionEditor = new Quill('#newQuestionEditor', {
			modules : {
				syntax : true,
				toolbar : [ 
					[ { 'font' : [] } ],
					[ { 'size' : [ 'small', false, 'large', 'huge' ] } ], // custom dropdown
					[ 'bold', 'italic', 'underline', 'strike' ], // toggled buttons
					[ {	'header' : 1 }, { 'header' : 2 } ], // custom button values
					[ { 'header' : [ 1, 2, 3, 4, 5, 6, false ] } ], 
					[ { 'color' : [] }, { 'background' : [] } ], // dropdown with defaults from theme
					[ { 'align': ''}, { 'align': 'center' }, { 'align': 'right' }, { 'align': 'justify' } ], 
					[ { 'script' : 'sub' }, { 'script' : 'super' } ], // superscript/subscript
					[ { 'list' : 'ordered' }, { 'list' : 'bullet' } ], 
					[ { 'indent' : '-1' }, { 'indent' : '+1' } ], // outdent/indent
					[ { 'direction' : 'rtl' } ], // text direction
					[ 'blockquote', 'code-block' ],
					[ 'link', 'image', 'video', 'formula' ], 
					[ 'clean' ] // remove formatting button
				],
				history: {
			      delay: 2000,
			      maxStack: 500,
			      userOnly: true
			    }
			},
			theme : 'snow'
		});
		
		$('#newQuestionForm').submit(function(event) {
			$('#description').val(newQuestionEditor.root.innerHTML);
		});
		
	</script>

	<script type="text/javascript" th:src="@{/js/topic-finish-like.button.js}"></script>
	<script type="text/javascript" th:src="@{/js/quiz.js}"></script>
	<script type="text/javascript" th:src="@{/js/question.form.js}"></script>
</body>
</html>