<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" th:replace="~{fragments/layout :: base('Editar Perfil', ~{::body}, _, _, _)}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="container-fluid col-md-6 mt-4">
		<div class="alert alert-success alert-dismissible fade show" role="alert"
			th:if="${!#strings.isEmpty(message)}">
			<span th:text=${message}></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title text-center fw-bolder">Editar Perfil</h4>

				<form action="#" method="post" th:action="@{/users/edit-profile}" th:object="${user}">
					<div class="mb-3">
						<label for="fullName" class="form-label">Nome Completo</label>
						<input type="text" id="fullName" class="form-control" maxlength="40" th:field="*{fullName}"
							th:classappend="${#fields.hasErrors('fullName')}? 'is-invalid'" aria-describedby="nameFeedback">

						<div id="nameFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}"
							th:errors="*{fullName}">Mensagem de erro</div>
					</div>

					<div class="mb-3 d-none">
						<label for="email" class="form-label">Email</label>
						<input type="hidden" id="email" class="form-control" th:field="*{email}" disabled>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email" class="form-label">Data de Nascimento</label>
							<input type="date" id="birthDate" class="form-control" th:field="*{birthDate}"
								th:classappend="${#fields.hasErrors('birthDate')}? 'is-invalid'" aria-describedby="birthDateFeedback">
							
							<div id="birthDateFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('birthDate')}"
								th:errors="*{birthDate}">Mensagem de erro
							</div >
						</div>

						<div class="col-md-6 mb-3">
							<label for="gender" class="form-label">Sexo</label>

							<select class="form-select" id="gender" name="gender">
								<option th:each="gender : ${T(com.gutotech.fatecando.model.Gender).values()}" th:value="${gender}"
									th:text="${gender.displayName}" th:selected="${gender == user.gender}"></option>
							</select>
						</div>
					</div>
					
					<div class="mb-4">
						<label for="description" class="form-label">Biografia</label>
						<textarea class="form-control" maxlength="100" th:field="*{description}"
							th:classappend="${#fields.hasErrors('description')}? 'is-invalid'" aria-describedby="descriptionFeedback"></textarea>

						<div id="descriptionFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}">Mensagem de erro</div>
					</div>
					
					<div class="mb-4">
						<div class="form-check form-check-inline mb-2">
							<input class="form-check-input" type="radio" th:field="*{teacher}" value="false">
						  	<label class="form-check-label" for="inlineCheckbox1">Aluno</label>
						</div>
						<div class="form-check form-check-inline">
						  	<input class="form-check-input" type="radio" th:field="*{teacher}" value="true">
						  	<label class="form-check-label" for="inlineCheckbox2">Professor</label>
						</div>
						<div id="subjectsContainer" class="d-flex justify-content-center mb-5" th:class="${!user.isTeacher} ? 'd-none'">
							<div class="mb-3">
								<label for="subjects">Selecione as disciplinas que você deseja manter</label>
								<select class="form-select select2" id="subjects" name="subjects" multiple="multiple" style="width: 100%;">
									<option th:each="subject : ${allSubjects}" th:value="${subject.id}" 
										th:text="${subject.name}" th:selected="${#lists.contains(mySubjects, subject)}"></option>
								</select>
							</div>
						</div>
					</div>

					<div class="d-grid gap-2 col-6 mx-auto">
						<button type="submit" class="btn btn-dark">Atualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
		$('.select2').select2({
			closeOnSelect: false
		});
		
		$('[name=teacher]').change(function() {
			const isTeacher = $(this).val();
			$('#subjectsContainer').toggleClass('d-none');
		});
	</script>
</body>
</html>