<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base('Mensagens', ~{::body}, _, _, ~{::style})}">
<head>
<meta charset="utf-8">
<style type="text/css">
#messages {
	max-height: 300px;
	overflow-y: auto;
}
</style>
</head>
<body>
	<div class="container text-white bg-dark py-3">
		<h3>Mensagens ([[${#lists.size(chats)}]])</h3>
	</div>

	<div class="container mt-4">
		<div class="row">
			<div class="col-md-4 mb-3">
				<div class="card mb-2">
					<div class="card-body">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="threads-tab" data-bs-toggle="tab" data-bs-target="#threads"
									type="button" role="tab" aria-controls="threads" aria-selected="true">Conversas</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button"
									role="tab" aria-controls="users" aria-selected="false">Usuários</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="threads" role="tabpanel" aria-labelledby="threads-tab">
								<div class="chats list-group mt-2"></div>
							</div>
							<div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
								<form id="search-form">
									<div class="input-group mt-2">
										<input type="text" id="user-filter" class="form-control" placeholder="Pesquisar"
											aria-describedby="search-button">
										<button class="btn btn-outline-secondary" type="submit" id="search-button">
											<i class="bi bi-search"></i>
										</button>
									</div>
								</form>

								<div id="users-result" class="list-group mt-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card">
					<div id="to" class="card-header fw-bold">...</div>
					<div class="card-body">
						<div id="messages" class="mb-3 pb-3 border-bottom"></div>
						<div id="new-message-editor"></div>
						<div class="d-grid col-md-6 mx-auto mt-2">
							<button class="btn btn-sm border border-1" id="send-message-button">
								<img width="20" height="20" src="https://img.icons8.com/ios/452/sent.png">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/timeago/timeago.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeago/jquery.timeago.pt-br.js}"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script type="text/javascript" th:src="@{/js/quill-utils.js}"></script>


	<script type="text/javascript" th:inline="javascript">
		const fatecandoApiUrl = /*[[${@environment.getProperty('fatecando.api.base-url')}]]*/null;
		const accessToken = /*[[${accessToken}]]*/null;
		const from = /*[[${#authentication.name}]]*/null;
		
		let chats = /*[[${chats}]]*/null;
		chats = chats.map(function (chat) {
			if (chat.name == null) {
				chat.from = chat.lastMessage.from.email == from ? chat.lastMessage.to : chat.lastMessage.from;
				chat.name = chat.from.fullName;					
			}
			return chat;
		});
		
		let selectedChat = null;

		let stompClient = null;
		let currentChatSubscription = null;
				
		updateConversations();

		// Conversations Tab
		function updateConversations() {
			$('.chats').empty();
			
			chats.forEach(chat => {
				$('.chats').append(`
					<button type="button" class="chat list-group-item list-group-item-action" data-id="${chat.id}">
						<div class="d-flex w-100 justify-content-between">
							<span class="fw-bold mb-1">${chat.name}</span>
							<small><time class="timeago" datetime="${chat.lastMessage.date}"></time></small>
						</div>
						${chat.lastMessage.body}
					</button>
				`);
				
				if (selectedChat != null && chat.id === selectedChat.id) {
					toggleSelectedChat('.chat', $('.chat').last());
				}
			});
			
			$("time.timeago").timeago();
			
			$('.chat').click(function() {
				const chatId = $(this).data('id');
				
				selectedChat = chats.find(c => c.id === chatId);
				
				updateChat();
				
				$.get('/user/messages/' + chatId, function (messages) {
					updateMessages(messages);
				});
				
				currentChatSubscription?.unsubscribe({});
				currentChatSubscription = stompClient.subscribe('/secured/message/queue/chat-' + chatId, function(data) {
					const messages = JSON.parse(data.body);
					updateMessages(messages);
				});
				
				toggleSelectedChat('.chat', this);
			});
		}
		

		// Search Tab 
		$('#search-form').submit(function(event) {
			event.preventDefault();
			
			$('#users-result').empty();
			
			$.get('/users/search', {filter: $('#user-filter').val()}, function (data) {
				const users = data;
				
				users.forEach(user => {
					$('#users-result').append(`
						<button type="button" class="user list-group-item list-group-item-action" data-user="${user.email}">
							<div class="fw-bold">${user.fullName}</div>
							<small>${user.email}</small>
						</button>		
					`);
				});
				
				$('.user').off('click');
				
				$('.user').click(function() {
					toggleSelectedChat('.user', this);
					
					const userEmail = $(this).data('user');
					const selectedUser = users.find(user => user.email === userEmail);
					
					selectedChat = {
						name: selectedUser.fullName,
						from: selectedUser,
						pvt: true
					};
						
					updateChat();
					
					$.get('/user/messages/private/' + selectedUser.email, function (messages) {
						updateMessages(messages);
					});
				});
			});
		});
		
		let newMessageEditor = new Quill('#new-message-editor', EditorOptions.MESSAGE);
		
		$('#send-message-button').click(function() {
			if (selectedChat != null) {
				const message = {
					body : newMessageEditor.root.innerHTML,
					to : {
						email : selectedChat.from.email
					},
					chat: {
						id: selectedChat.id
					}
				};
				
				sendMessage(message);
				
				QuillUtils.setContent(newMessageEditor, '');
			}
		});
		
		function toggleSelectedChat(selector, selectedDiv) {
			$(selector).each(function() {
				$(this).removeClass([ 'active', 'bg-dark' ]);
			});
			
			$(selectedDiv).addClass([ 'active', 'bg-dark' ]);
		}
		
		function updateChat() {
			if (selectedChat.pvt) {
				$('#to').html(`<a class="text-decoration-none link-dark" target="_blank" href="/users/${selectedChat.from?.id}">${selectedChat.name}</a>`);
			} else {
				$('#to').text(selectedChat.name);
			}
		}
		
		function updateMessages(messages) {
			clearMessages();
			messages.forEach(message => showOutputMessage(message));
			$("time.timeago").timeago();
			scrollToBottom();
		}
		
		function clearMessages() {
			$('#messages').empty();
		}

		function showOutputMessage(message) {
			const messageContainer = document.createElement('div');
			messageContainer.classList.add('mt-2');
			
			let messageEditor = document.createElement('div');
			
			messageEditor.innerHTML = message.body;
			
			if (message.from == null || message.from.email === from) {
				messageEditor.classList.add('border', 'border-1', 'border-danger');	
			}
			
			$(messageContainer).append(messageEditor);
			$(messageContainer).append(`<small class="text-muted mb-1"><time class="timeago" datetime="${message.date}"></time></small>`);
			
			$('#messages').append(messageContainer);
			
			new Quill(messageEditor, EditorOptions.READ_ONLY);
		}
		
		function scrollToBottom() {
			let messagesDiv = $('#messages');
			messagesDiv.prop("scrollTop", messagesDiv.prop("scrollHeight"));
		}
	</script>
	<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</body>
</html>