<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" th:replace="~{fragments/layout :: base('Anotações', ~{::body}, _, _, ~{::style})}">

<head>
	<meta charset="utf-8">

	<style type="text/css">
		.list-card-item {
			cursor: pointer;
		}

		.list-card-item:hover {
			transform: scale(1.010);
		}
	</style>
</head>

<body>
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-4 my-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title text-center fw-bolder mb-4">Minhas anotações ([[${#lists.size(topics)}]])</h4>

						<div class="list-group">
							<th:block th:each="element : ${subjectTopicsMap}">
								<h5 th:id="|subject-${element.key}|">[[${element.key}]]</h5>

								<div class="topic list-group-item list-card-item mb-3 border border-1 rounded"
									th:each="topic : ${element.value}"
									th:data-id="${topic.id}"
									th:classappend="${topic.user.finished} ? 'border-success' : 'border-secondary'">
									<div class="d-flex w-100 justify-content-between">
										<div class="d-flex align-items-center">
											<h6 class="mb-1 fw-bolder" th:text="${topic.name}">Topic Name</h6>
										</div>

										<i class="fa fa-check-circle fa-lg green" aria-hidden="true"
											th:classappend="${!topic.user.finished}? 'd-none'"></i>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<h4 id="subjectName" class="fw-bold text-center mt-2">-</h4>

				<div class="card">
					<div class="card-body">
						<input type="hidden" id="topic">

						<span class="text-muted">Anotações sobre:</span>
						<div class="d-flex justify-content-between align-items-center">
							<h4 id="topicName" class="card-title fw-bold">Anotações</h4>
							<a id="showTopicButton" type="button" class="btn btn-outline-danger btn-sm mb-1" href="#">Acessar
								conteúdo</a>
						</div>

						<div id="annotationEditor" style="height: 300px;"></div>

						<div class="d-grid mx-auto col-6">
							<button id="updateAnnotationButton" type="button" class="btn btn-dark btn-sm fw-bold text-center mt-3"
								style="display: none;">ATUALIZAR</button>
						</div>
					</div>
				</div>

				<small class="d-flex text-muted ms-2 mt-2">* Use as teclas de setas para a Esquerda ou Direita
					para navegar entre as anotações.</small>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/quill-utils.js}"></script>
	
	<script type="text/javascript" th:inline="javascript">
		let annotationEditor = new Quill('#annotationEditor', EditorOptions.TOPIC);

		annotationEditor.on('text-change', function (eventName, ...args) {
			if ($('#topic').val() !== '') {
				$('#updateAnnotationButton').show();
			}
		});

		$('.topic').click(function () {
			const topicId = $(this).data('id');

			const topic = topics.find(t => t.id === topicId);

			showAnnotation(topic);
			$('#updateAnnotationButton').hide();

			$('.topic[class*="active"]').removeClass('active');
			$(this).addClass('active');
		});

		$(document).keyup(function (event) {
			if (!annotationEditor.hasFocus()) {
				if (event.key === 'ArrowRight') {
					const currentIndex = $('.topic').index($('.topic[class*="active"]').first());

					const nextIndex = (currentIndex + 1) % $('.topic').length;

					$('.topic').eq(nextIndex).click();
				} else if (event.key === 'ArrowLeft') {
					const currentIndex = $('.topic').index($('.topic[class*="active"]').first());

					let previousIndex = currentIndex - 1;

					if (previousIndex < 0) {
						previousIndex = $('.topic').length - 1;
					}

					$('.topic').eq(previousIndex).click();
				}
			}
		});

		$('#updateAnnotationButton').click(function () {
			saveAnnotation();
			$('#updateAnnotationButton').hide();
			annotationEditor.blur();
		});

		let topics = /*[[${topics}]]*/[];
		$('.topic').first().click();

		function showAnnotation(topic) {
			$('#subjectName').text(topic.subject.name);
			$('#topic').val(topic.id);
			$('#topicName').text(topic.name);
			$('#showTopicButton').prop('href', window.location.origin + `/topic/${topic.id}`);
			annotationEditor.setContents([]);
			annotationEditor.clipboard.dangerouslyPasteHTML(0, topic.user.annotation);
			annotationEditor.blur();
		}

		function saveAnnotation() {
			const topicId = $('#topic').val();
			const newAnnotation = annotationEditor.root.innerHTML;

			$.ajax({
				method: 'POST',
				url: window.location.origin + `/topic/${topicId}/annotation`,
				data: newAnnotation,
				contentType: 'text/plain'
			}).done(function () {
				const topic = topics.find(t => t.id == topicId);
				topic.user.annotation = newAnnotation;
				$('#updateAnnotationButton').hide();
			});
		}
	</script>
</body>
</html>