<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: base ('Question', ~{::body}, _, _, ~{::style})}">

<head>
	<meta charset="utf-8">
	<style type="text/css">
		.form-check-input {
			width: 2em;
			height: 2em;
		}

		.form-check-input:checked {
			background-color: green;
			border-color: green;
		}
	</style>
</head>

<body>
	<div class="container mt-4">
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(message)}">
			<span class="text-center" th:text=${message}></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="card mt-3">
			<div class="card-body">
				<h3 class="card-title text-center fw-bold"
					th:text="|Questão - #${question.id} - ${question.status.displayName}|">Questão #146</h3>

				<form id="question-form" action="#" method="post" th:action="@{/questions/{id}(id=${question.id})}"
					th:object="${question}">
					<div class="mb-3">
						<div id="question-editor" th:utext="${question.description}"></div>
						<input type="hidden" th:field="*{description}">
					</div>

					<div id="alternativesContainer" class="mb-4 p-3 border border-1 border-secondary rounded">
						<label class="h5 form-label fw-bolder ms-5">Alternativas</label>

						<div id="alternatives">
							<div class="new-alternative mb-3 d-flex justify-content-start align-items-center"
								th:each="alternative, itemStat : *{alternatives}">
								<span class="text-muted me-2" th:text="${itemStat.index + 1} + '.'">1.</span>

								<div class="container">
									<textarea class="form-control me-5" rows="1"
										th:field="*{alternatives[__${itemStat.index}__].description}"
										placeholder="Alternativa" required>Alternativa 1</textarea>
									<input type="text" class="form-control"
										th:field="*{alternatives[__${itemStat.index}__].feedback.title}"
										placeholder="Feedback da alternativa" required>
								</div>
								<div class="form-check me-3">
									<input type="checkbox" class="is-correct-alternative form-check-input"
										th:field="*{alternatives[__${itemStat.index}__].feedback.correct}">
								</div>
								<button type="button" class="remove-alternative btn btn-outline-danger btn-sm">
									<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
								</button>
							</div>
						</div>

						<hr>

						<div class="d-grid gap-2 col-6 mx-auto">
							<button type="button" id="addAlternative" class="btn btn-secondary">
								Adicionar alternativa <i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col-md-6">
							<label class="form-label fw-bold h5" for="status">Disciplina</label>

							<select id="subject-select" class="form-select">
								<option th:each="subject : ${subjects}" th:value="${subject.id}"
									th:text="${subject.name}" th:selected="${subject == question.topic.subject}">
								</option>
							</select>
						</div>

						<div class="col-md-6">
							<label class="form-label fw-bold h5" for="status">Tópico</label>

							<select class="form-select" th:field="*{topic.id}">
								<option th:each="topic : ${topics}"
									th:if="${topic.subject.id == question.topic.subject.id}" th:value="${topic.id}"
									th:text="${topic.name}" th:selected="${topic == question.topic}"></option>
							</select>
						</div>
					</div>

					<div class="mb-3">
						<label for="type" class="h5 form-label fw-bold">Tipo de Questão (Dificuldade)</label>
						<select class="form-select" aria-describedby="typeHelp" id="type" th:field="*{type}">
							<option th:each="type : ${T(com.gutotech.fatecando.model.QuestionType).values()}"
								th:value="${type}" th:text="${type.displayName}"></option>
						</select>
						<div id="typeHelp" class="form-text">
							O tipo da questão está relacionado com a dificuldade dela.
							<br>
							Por exemplo, ao escolher "Simulado" a questão só aparecerá em simulados que contém o tópico
							selecionado acima.
						</div>
					</div>

					<input type="hidden" th:field="*{status}">

					<br>

					<div class="mb-3">
						<span class="fw-bold h5">Outras Informações</span>

						<div class="row">
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h6 class="card-title fw-bold">Pergunta enviado por</h6>
										<hr>
										<span class="fw-bold">ID:</span>
										<span th:text="${question.user.id}"></span>
										<br>
										<span class="fw-bold">Nome:</span>
										<span th:text="${question.user.fullName}"></span>
										<br>
										<span class="fw-bold">Email:</span>
										<span th:text="${question.user.email}"></span>
										<br>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="card">
									<div class="card-body">
										<h6 class="card-title fw-bold">Informações Extras</h6>
										<hr>
										<span class="fw-bold">Data do envio:</span>
										<span th:text="${#dates.format(question.creationDate, 'dd/MM/yyy HH:mm:ss')}"></span>
										<br>
										<span class="fw-bold">Data de atualização:</span>
										<span th:text="${#dates.format(question.updateDate, 'dd/MM/yyyy HH:mm:ss')}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="d-grid gap-2 col-6 mx-auto">
						<button type="submit" class="btn btn-danger form-control">
							Atualizar <i class="fa fa-pencil ms-3" aria-hidden="true"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/quill-utils.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		(function () {
			const questionEditor = new Quill('#question-editor', EditorOptions.QUESTION);

			$('form').submit(function (event) {
				$('#description').val(questionEditor.root.innerHTML);
			});

			const topics = /*[[${topics}]]*/[];

			$('#subject-select').change(function () {
				let selectedSubjectId = parseInt($(this).val());

				let topicSelect = $('select[id*="topic"]').first();

				topicSelect.empty();

				topics.forEach(function (topic) {
					if (topic.subject.id == selectedSubjectId) {
						const option = `<option value="${topic.id}">${topic.name}</option>`;
						topicSelect.append(option);
					}
				});
			});
		})();
	</script>

	<script type="text/javascript" th:src="@{/js/question.form.js}"></script>
</body>
</html>