<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" th:replace="~{fragments/layout :: base('Recompensas', ~{::body}, _, _, _)}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="container mt-4">
		<div class="card" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
			<h4 class="card-header rounded-pill fw-bold text-center bg-dark text-white">Recompensas</h4>
			<div class="card-body">
				<table class="table table-sm table-bordered table-stripped text-center">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Recompensa</th>
							<th>Recebido em</th>
						</tr>
					</thead>
					<tbody>
						<tr class="align-middle" th:each="reward : ${rewards}">
							<td class="fw-bolder" th:text="${reward.type.displayName}">Quiz</td>
							<td class="text-center text-success fw-bold">
								<div th:if="${reward.score}" th:text="${reward.score} + ' de Score'">60 de Score</div>
								<div th:if="${reward.coins}" th:text="${reward.coins} + ' Moedas'">25 Moedas</div>
							</td>
							<td th:text="${#dates.format(reward.date, 'dd/MM/yyyy HH:mm:ss')}">08/03/2021</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center" th:if="${#lists.isEmpty(rewards)}">Você ainda não recebeu nenhuma recompensa.</div>
			</div>
		</div>
	</div>
</body>
</html>