<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base('Login', ~{::body})}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="container-fluid col-md-6">
		<div class="card mt-3 border border-danger">
			<div class="card-body">
				<h4 class="text-center">Junte-se aos Fatecandos!</h4>

				<form action="#" th:action="@{/join}" method="post"
					th:object="${user}">
					<div class="row mb-3">
						<div class="col">
							<label for="firstName">Nome</label>
							<input id="firstName" type="text" class="form-control"
								th:field="*{firstName}">
						</div>
						<div class="col">
							<label for="lastName">Sobrenome</label>
							<input id="lastName" type="text" class="form-control"
								th:field="*{lastName}">
						</div>
					</div>

					<div class="mb-3">
						<label for="email">E-mail</label>
						<input id="email" type="email" class="form-control"
							th:field="*{email}">
					</div>
					<div class="mb-3">
						<label for="password">Senha</label>
						<input id="password" type="password" class="form-control"
							th:field="*{password}">
					</div>

					<div class="mb-3">
						<label>Data de Nascimento</label>
						<input id="birthDate" type="date" class="form-control"
							th:field="*{birthDate}">
					</div>

					<div class="mb-3">
						<label>Está fazendo algum curso da Fatec?</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radio"
								id="flexRadioDefault1" checked value="yes">
							<label class="form-check-label" for="flexRadioDefault1">Sim,
								estou cursando o...</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radio"
								id="flexRadioDefault2" value="not">
							<label class="form-check-label" for="flexRadioDefault2">Ainda
								não</label>
						</div>
					</div>

					<div id="courseContainer"
						class="border border-1 border-dark rounded p-3 mb-3">
						<label>Sobre seu Curso na Fatec</label>
						<hr>

						<div class="mb-3">
							<label>Fatec</label>
							<select id="fatecSelect" class="form-select select2">
								<option value="1">Fatec Adamantina</option>
								<option value="2">Fatec Araçatuba</option>
								<option value="3">Fatec Araraquara</option>
								<option value="4">Fatec Araras</option>
								<option value="5">Fatec Assis</option>
								<option value="6">Fatec Barueri</option>
								<option value="7">Fatec Bauru</option>
								<option value="8">Fatec Bebedouro</option>
								<option value="9">Fatec Botucatu</option>
								<option value="10">Fatec Bragança Paulista</option>
								<option value="11">Fatec Campinas</option>
								<option value="12">Fatec Capão Bonito</option>
								<option value="13">Fatec Carapicuíba</option>
								<option value="14">Fatec Catanduva</option>
								<option value="15">Fatec Cotia</option>
								<option value="16">Fatec Cruzeiro</option>
								<option value="17">Fatec Diadema</option>
								<option value="18">Fatec Ferraz de Vasconcelos</option>
								<option value="19">Fatec Franca</option>
								<option value="20">Fatec Franco da Rocha</option>
								<option value="21">Fatec Garça</option>
								<option value="22">Fatec Guaratinguetá</option>
								<option value="23">Fatec Guarulhos</option>
								<option value="24">Fatec Indaiatuba</option>
								<option value="25">Fatec Itapetininga</option>
								<option value="26">Fatec Itapira</option>
								<option value="27">Fatec Itaquaquecetuba</option>
								<option value="28">Fatec Itatiba</option>
								<option value="29">Fatec Itu</option>
								<option value="30">Fatec Jaboticabal</option>
								<option value="31">Fatec Jacareí</option>
								<option value="32">Fatec Jales</option>
								<option value="33">Fatec Jahu</option>
								<option value="34">Fatec Jundiaí</option>
								<option value="35">Fatec Lins</option>
								<option value="36">Fatec Marília</option>
								<option value="37">Fatec Matão</option>
								<option value="38">Fatec Mauá</option>
								<option value="39">Fatec Mococa</option>
								<option value="40">Fatec Mogi das Cruzes</option>
								<option value="41">Fatec Mogi Mirim</option>
								<option value="42">Fatec Osasco</option>
								<option value="43">Fatec Ourinhos</option>
								<option value="44">Fatec Pindamonhangaba</option>
								<option value="45">Fatec Piracicaba</option>
								<option value="46">Fatec Pompéia</option>
								<option value="47">Fatec Praia Grande</option>
								<option value="48">Fatec Presidente Prudente</option>
								<option value="49">Fatec Ribeirão Preto</option>
								<option value="50">Fatec Santana de Parnaíba</option>
								<option value="51">Fatec Santo André</option>
								<option value="52">Fatec Baixada Santista</option>
								<option value="53">Fatec São Bernardo do Campo</option>
								<option value="54">Fatec São Caetano do Sul</option>
								<option value="55">Fatec São Carlos</option>
								<option value="56">Fatec São José do Rio Preto</option>
								<option value="57">Fatec São José dos Campos</option>
								<option value="58">Fatec Ipiranga</option>
								<option value="59">Fatec Itaquera</option>
								<option value="60">Fatec São Paulo</option>
								<option value="61">Fatec Sebrae</option>
								<option value="62">Fatec Tatuapé</option>
								<option value="63">Fatec Zona Leste</option>
								<option value="64">Fatec Zona Sul</option>
								<option value="65">Fatec São Roque</option>
								<option value="66">Fatec São Sebastião</option>
								<option value="67">Fatec Sertãozinho</option>
								<option value="68">Fatec Sorocaba</option>
								<option value="69">Fatec Sumaré (Região de Campinas)</option>
								<option value="70">Fatec Taquaritinga</option>
								<option value="71">Fatec Tatuí</option>
								<option value="72">Fatec Taubaté</option>
							</select>
						</div>

						<div class="mb-3">
							<label>Nome</label>
							<input id="courseName" type="text" class="form-control"
								placeholder="Exemplo: Análise e Desenvolvimento de Sistemas, Sistemas de Informação, ...">
						</div>

						<div class="row">
							<div class="col">
								<label for="semesterSelect">Semestre</label>
								<select id="semesterSelect" class="form-select">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
								</select>
							</div>

							<div class="col">
								<label>Período</label>
								<select class="form-select">
									<option value="1">Matutino</option>
									<option value="2">Vespertino</option>
									<option value="3">Noturno</option>
								</select>
							</div>
						</div>
					</div>

					<br>

					<button class="btn btn-danger btn-lg form-control mb-2">Registrar-se</button>

					<br>
					<br>

					<small class="text-muted">Ao criar uma conta, você concorda
						com os <a href="#" target="_blank">Termos de Serviço</a> . Para
						obter mais informações sobre as práticas de privacidade do
						Fatecando, consulte a <a href="#" target="_blank">Declaração
							de Privacidade</a> do <a href="#" target="_blank">Fatecando</a> .
						Ocasionalmente, enviaremos e-mails relacionados à sua conta.
					</small>
				</form>

			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('input[name="radio"]').change(function() {
			$('#courseContainer').toggle();
		});
	</script>
</body>
</html>