.alternative input {
	width: 2em;
	height: 2em;
}

.alternative input:checked {
	background-color: green;
	border-color: green;
}

.is-correct-alternative {
	width: 2em;
	height: 2em;
}

.is-correct-alternative:checked {
	background-color: green;
	border-color: green;
}
