@charset "ISO-8859-1";

.nav-breadcrumb { 
	--bs-breadcrumb-divider: '>';
}

.nav-breadcrumb .dark {
	--bs-breadcrum-divider-color: white;
}

.nav-breadcrumb a {
	font-size: 14px;
	font-weight: 700 !important;
	color: #dc3545;
	text-decoration: none !important;
}

.nav-breadcrumb a:hover {
	text-decoration: underline !important;;
}