<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	th:replace="~{fragments/layout :: base('Login', ~{::body})}">
<body>
	<div class="container-fluid col-md-6 mt-3">
		<h4 class="text-center">Faca login no Fatecando!</h4>

		<div class="card border border-danger">
			<div class="card-body">
				<form action="#" method="post">
					<div class="mb-3">
						<label>Email</label>
						<input class="form-control" type="email" name="email">
					</div>
					<div class="mb-3">
						<label>Senha</label>
						<input class="form-control" type="password" name="password">
					</div>

					<button class="btn btn-danger form-control" type="submit">Entrar</button>
				</form>
			</div>
		</div>

		<div class="card mt-3">
			<div class="card-body">
				Nao tem conta ainda? Corre la e
				<a href="#" th:href="@{/join}">crie uma agora mesmo</a>
				.
			</div>
		</div>
	</div>
</body>
</html>